<div>
    <h1>¿Qué te parece Angular?</h1>

    <article>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque hic totam facere itaque corporis provident consectetur atque quis sapiente et. Voluptatem temporibus voluptate ea molestias reprehenderit ut minus nesciunt nam!
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae alias, eaque cupiditate, exercitationem pariatur nulla accusantium officia odit eligendi vero perspiciatis nisi laboriosam nostrum doloremque, ab unde earum nobis. Reprehenderit.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae alias, eaque cupiditate, exercitationem pariatur nulla accusantium officia odit eligendi vero perspiciatis nisi laboriosam nostrum doloremque, ab unde earum nobis. Reprehenderit.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae alias, eaque cupiditate, exercitationem pariatur nulla accusantium officia odit eligendi vero perspiciatis nisi laboriosam nostrum doloremque, ab unde earum nobis. Reprehenderit.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae alias, eaque cupiditate, exercitationem pariatur nulla accusantium officia odit eligendi vero perspiciatis nisi laboriosam nostrum doloremque, ab unde earum nobis. Reprehenderit.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae alias, eaque cupiditate, exercitationem pariatur nulla accusantium officia odit eligendi vero perspiciatis nisi laboriosam nostrum doloremque, ab unde earum nobis. Reprehenderit.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae alias, eaque cupiditate, exercitationem pariatur nulla accusantium officia odit eligendi vero perspiciatis nisi laboriosam nostrum doloremque, ab unde earum nobis. Reprehenderit.
        </p>
    </article>
    
    @defer (on viewport) {
        <app-comments></app-comments>
    } @placeholder {
        <p>Futuros comentarios</p>
    } @loading {
        <p>Cargando comentarios...</p>
    }
</div>

<!-- <router-outlet></router-outlet> -->